@model IEnumerable<FundRaiserProject2023.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 >ProjectS</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FundingGoal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentFunding)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FundingGoal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentFunding)
            </td>
            <td>
                    <a class="btn " asp-action="Edit" asp-route-id="@item.Id" class="link-primary">Edit</a> |
                    <a class="btn details" asp-action="Details" asp-route-id="@item.Id" class="link-info">Details</a> |
                    <a class ="btn delete" asp-action="Delete" asp-route-id="@item.Id" class=" link-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
