
@{
    ViewData["Title"] = "APIs";
}
<style>
    .marg{
        margin-bottom: 1.5%;
    }
</style>

<h1>All available APIs</h1>

<div class="marg">
    <a href="@Html.Raw("/Api/BackersApi/")" class="btn">All Backers</a>
    <a href="@Html.Raw("/Api/BackersApi/1")" class="details btn">Specific Backer</a>
</div>
<div class="marg">
    <a href="@Html.Raw("/Api/CategoriesApi/")" class="btn">All Categories</a> 
    <a href="@Html.Raw("/Api/CategoriesApi/4")" class="details btn">Specific Category</a>
</div>
<div class="marg">
    <a href="@Html.Raw("/Api/ProjectsApi/")" class="btn">All Projects</a>
    <a href="@Html.Raw("/Api/ProjectsApi/1")" class="details btn">Specific Project</a>
</div>
<div class="marg">
    <a href="@Html.Raw("/Api/ProjectCreatorsApi/")" class="btn">All Project Creators</a>
    <a href="@Html.Raw("/Api/ProjectCreatorsApi/1")" class="details btn">Specific Project Creator</a>
</div>
<div class="marg">
    <a href="@Html.Raw("/Api/ProjectFundingsApi/")" class="btn">All Project Fundings</a>
    <a href="@Html.Raw("/Api/ProjectFundingsApi/2")" class="details btn">Specific Project Funding</a>
</div>
<div class="marg">
    <a href="@Html.Raw("/Api/ProjectPhotosApi/")" class="btn">All Project Photos</a>
    <a href="@Html.Raw("/Api/ProjectPhotosApi/1")" class="details btn">Specific Project Photo</a>
</div>
<div class="marg">
    <a href="@Html.Raw("/Api/ProjectVideosApi/")" class="btn">All Project Videos</a>
    <a href="@Html.Raw("/Api/ProjectVideosApi/1")" class="details btn">Specific Project Video</a>
</div>
<div class="marg">
    <a href="@Html.Raw("/Api/RewardPackagesApi/")" class="btn">All Reward Packages</a>
    <a href="@Html.Raw("/Api/RewardPackagesApi/1")" class="details btn">Specific Reward Package</a>
</div>