@model IEnumerable<FundRaiserProject2023.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                    <button type="button" class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</button>
                    <button type="button" class="btn btn-primary btn-sm details" asp-action="Details" asp-route-id="@item.Id">Details</button>
                    <button type = "button" class="btn btn-primary btn-sm delete" asp-action="Delete" asp-route-id="@item.Id">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>
