@model FundRaiserProject2023.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Project Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <div class="slim-line"></div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <div class="slim-line"></div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FundingGoal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FundingGoal)
        </dd>
        <div class="slim-line"></div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentFunding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentFunding)
        </dd>
        <div class="slim-line"></div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectPhotos)
        </dt>
        <dd class="col-sm-10">
            @foreach (var photo in Model.ProjectPhotos)
            {
                <a>@photo.PhotoName <br /> </a>
            }
        </dd>
        <div class="slim-line"></div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectVideos)
        </dt>
        <dd class="col-sm-10">
            @foreach (var photo in Model.ProjectVideos)
            {
                <a>@photo.VideoName <br /> </a>
            }
        </dd>
        <div class="slim-line"></div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectCreator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectCreator.Name)
        </dd>
        <div class="slim-line"></div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RewardPackages)
        </dt>
        <dd class="col-sm-10">
            @foreach (var reward in Model.RewardPackages)
            {
                <a>@reward.PackageName | </a>
                <a>@reward.PackageAmount | </a>
                <a>@reward.RewardDescription <br /> </a>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn" >Edit</a> |
    <a asp-action="Index" class="btn details">Back to List</a>
</div>
