@model IEnumerable<FundRaiserProject2023.Models.Project>

@{
    ViewData["Title"] = "Funded Projects";
    Layout = "~/Views/Shared/_BackerLayout.cshtml";
}

<h1>Funded Projects</h1>

<table class="table">
    <thead>
        <tr style="color:azure !important">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FundingGoal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentFunding)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr style="color:azure !important">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FundingGoal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentFunding)
            </td>
        </tr>
}
    </tbody>
</table>
