@using Microsoft.EntityFrameworkCore;
@model FundRaiserProject2023.Models.Project

@{
    ViewData["Title"] = "Project Details";
    Layout = "~/Views/Shared/_BackerLayout.cshtml";
}

<h1>Project Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FundingGoal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FundingGoal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentFunding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentFunding)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectPhotos)
        </dt>
        <dd class="col-sm-10">
            @foreach (var photo in Model.ProjectPhotos)
            {
                <a>@photo.PhotoName <br /> </a>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectVideos)
        </dt>
        <dd class="col-sm-10">
            @foreach (var photo in Model.ProjectVideos)
            {
                <a>@photo.VideoName <br /> </a>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectCreator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectCreator.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RewardPackages)
        </dt>
        <form asp-action="InsertFunding">
        <dd class="col-sm-10"><br />
            @foreach (var reward in Model.RewardPackages)
            {
                <div class="radio-input">
                    <label for="reward" class="input-label">@reward.PackageName | @reward.PackageAmount | @reward.RewardDescription</label>
                    <input type="radio" id="reward" name="PackageAmount" value="@reward.PackageAmount" class="input" checked=""> <br />
                </div>
            }
            <input type="hidden" name="ProjectId" value="@Model.Id" />
            <input type="hidden" name="BackerId" value="1" />
        </dd>


        <button class="button1 center" type="submit" value="fund" asp-action="InsertFunding" >
            <strong>FUND!</strong>
            <div id="container-stars">
                <div id="stars"></div>
            </div>

            <div id="glow">
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </button>

        
        </form>
    </dl>
</div>

