@model FundRaiserProject2023.Models.Project

@{
    ViewData["Title"] = "Create your Project";
    Layout = "~/Views/Shared/_ProjectCreatorLayout.cshtml";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.ProjectCreator.Name)
                @Html.TextBoxFor(model => model.ProjectCreator.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProjectCreator.Name)
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FundingGoal" class="control-label"></label>
                <input asp-for="FundingGoal" class="form-control" />
                <span asp-validation-for="FundingGoal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentFunding" class="control-label"></label>
                <input asp-for="CurrentFunding" class="form-control" />
                <span asp-validation-for="CurrentFunding" class="text-danger"></span>
            </div>
            @foreach (var item in Model.ProjectPhotos)
            {
                <div class="form-group">
                    @Html.LabelFor(model => item.PhotoName)
                    @Html.TextBoxFor(model => item.PhotoName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => item.PhotoName)
                </div>
            }

            @foreach (var item in Model.ProjectVideos)
            {
                <div class="form-group">
                    @Html.LabelFor(model => item.VideoName)
                    @Html.TextBoxFor(model => item.VideoName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => item.VideoName)
                </div>
            }
            <div class="form-group">
                <label asp-for="ProjectVideos" class="control-label"></label>
                <input asp-for="ProjectVideos" class="form-control" />
                <span asp-validation-for="ProjectVideos" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PCProjects">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}