@model IEnumerable<FundRaiserProject2023.Models.ProjectFunding>

@{
    ViewData["Title"] = "Index";
    Layout = "_ProjectCreatorLayout";
}

<h1>Fundings</h1>

<p>
    <a asp-action="Create" class="btn">Create New</a>
</p>
<table class="table" style="color:azure !important">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AmountContributed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Backer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr style="color:azure !important">
            <td>
                @Html.DisplayFor(modelItem => item.AmountContributed)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Backer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projects)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn details">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn delete">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
